:root {
    --bg-color: #070a2d;
    --font-color: #cdced5;
    --link-color: lightblue;
    --text-color-1: rgba(0, 179, 119, 1);
    --text-color-2: rgba(214, 255, 127, 1);
    --headline-color: white;
}

nav ul { 
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    float: left;
}

#sub_pages { 
    color: white;
    font-size: 2vw;
    text-align: center;
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

h6 { 
    color: white;
    font-size: 1vw;
    background-color: #202D5E;
}

body { 
    margin: 0 auto;
    color: white;
    background-color: #070a2d;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}